.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60vh;
    margin: 0 auto;
}

.aboutMe img {
    flex-basis: 35%;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.name {
    margin: 0.4em 0;
    flex-basis: 100%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info span {
    flex-basis: 45%;
}

.info i {
    color: gray;
    font-size: 12px;
}

.button {
    margin: 0.5em 0;
}
