.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
    background-color: #15476F;
}

.aboutMe * { background-color: rgba(0, 0, 0, 0); }

.aboutMe img {
    border-radius: 50%;
    max-width: 20%;
}

.details {
    margin-left: 5em;
    flex-basis: 50%;
}

.name {
    font-size: 4.7em;
    flex-basis: 100%;
}

.biography {
    width: 100%;
    font-size: 1.2vw;
    font-weight: bold;
    color: cadetblue;
    background-color: #071623;
    border-radius: 0.6em;
    padding: 1em;
}

.button {
    margin: 0.5em 0;
    padding: 0.8em 1.8em;
    font-size: 1em;
    color: white;
    background-color: #8D33FF;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: #7000FF;
}
