.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0 auto;
}

.aboutMe img {
    border-radius: 50%;
    max-width: 20%;
}

.details {
    margin-left: 5em;
    flex-basis: 50%;
}

.name {
    font-size: 4.4vw;
    flex-basis: 100%;
}

.info {
    width: 100%;
}

.info span {
    flex-basis: 50%;
}

.info b {
    font-size: 2em;
}

.info i {
    color: gray;
    font-size: 1.2em;
}

.button {
    margin: 0.5em 0;
    padding: 0.8em 1.8em;
    font-size: 1em;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 0.3em;
}

.button:hover {
    cursor: pointer;
}
