footer {
    border-top: 0.11em solid black;
    text-align: center;
    padding: 1em;
}

footer img {
    margin: 1em;
    max-width: 50px;
    max-height: 50px;
    transition: 1.2s;
}

footer div a img:hover {
    transform: rotate(1turn);
}
