footer {
    display: flex;
    border-top: 0.11em solid black;
    text-align: left;
    padding: 1em;
}

footer, footer * {
    background-color: #091E2F;
}

footer > .used-tecnology {
    margin-left: auto;
}

.social-network img {
    margin: 1em;
    max-width: 50px;
    max-height: 50px;
    transition: 1.2s;
}

.social-network a {
    display: inline-block;
    vertical-align: middle;
}

.social-network a > * {
    vertical-align: middle;
}

.social-network a:hover img {
    transform: rotate(1turn);
}

.social-network a span {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 1.3s;
    color: white;
}

.social-network a:hover span {
    width: 18em;
}

.social-network:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.used-tecnology {
    text-align: center;
}

.used-tecnology section {
    color: grey;
}

.used-tecnology img {
    margin: 0.5em;
    max-width: 40px;
    max-height: 40px;
    filter: grayscale(100%);
    background-color: rgba(0, 0, 0, 0);
}
