.project {
    margin-top: 3em;
    margin-bottom: 10em;
}

.selection-project {
    display: flex;
    justify-content: space-around;
}

.card {
    min-width: 27em;
    max-width: 27em;
    height: 51vh;
    border: 0.1em solid grey;
    border-radius: 2%;
    transition: 0.3s;
    text-decoration: none;
    background-color: #F1F1F1;
}

.card * {
    background-color: rgba(0, 0, 0, 0);
}

.card section {
    background-color: #FFFFFF;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.card:hover {
    transform: scale(1.3);
    box-shadow: 0em 0em 1.5em black;
}

.card:visited {
    color: black
}

.card img {
    display: block;
    margin: auto;
    max-width: 27em;
    height: 30vh;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: #FFFFFF;
}

.card b {
    display: block;
    font-size: 2em;
}

.card i {
    font-size: 1.2em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card b, .card i {
    margin: 5%;
}

.dungeons {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
