.project {
    padding: 5em;
}

.flex-container-project {
    display: flex;
    justify-content: space-around;
}

.flex-container-project * {
    display: block;
}

.flex-container-project span {
    width: 30%;
    height: 50vh;
    background-color: #FFFFFF;
    border: 0.1em solid grey;
    border-radius: 2%;
    transition: 0.3s;
}

.flex-container-project span:hover {
    transform: scale(1.3);
    box-shadow: 0em 0em 1.5em black;
}

.flex-container-project img {
    height: 30vh;
}

.flex-container-project b {
    font-size: 2em;
}

.flex-container-project i {
    font-size: 1.2em;
    overflow: hidden;
}

.flex-container-project b, .flex-container-project i {
    margin: 5%;
}
