.project {
    padding: 5em;
}

.selection-project {
    display: flex;
    justify-content: space-around;
}

.selection-project * {
    display: block;
}

.selection-project span {
    flex-basis: 20%;
    height: 50vh;
    background-color: #FFFFFF;
    border: 0.1em solid grey;
    border-radius: 2%;
    transition: 0.3s;
}

.selection-project span:hover {
    transform: scale(1.3);
    box-shadow: 0em 0em 1.5em black;
}

.selection-project img {
    height: 30vh;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.selection-project b {
    font-size: 2em;
}

.selection-project i {
    font-size: 1.2em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.selection-project b, .selection-project i {
    margin: 5%;
}
