.skills {
    padding: 5vw;
}

.habilities {
    justify-content: space-around;
    margin: 0.7em auto;
    width: 80%;
}

.habilities img {
    flex-basis: 16%;
    max-width: 8vw;
    max-height: 8vw;
}
