header {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.navbar, .navbar * {
    background-color: #5135AF;
}

.menu {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
}

.menu a {
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    margin: 0em 1em;
    border: 0.15em solid rgba(0, 0, 0, 0);
    text-transform: uppercase;
}

.menu a:link, .menu a:visited {
    color: white;
}

.menu li {
    border-radius: 0.5em;
    display: inline-block;
    margin-right: 2em;
    padding: 0.8em;
    transition: 0.1s;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li:hover {
    color: #000000;
    transform: scale(1.2);
    box-shadow: 0 0 1em black;
}

/* #selected {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
} */
