* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    background-color: #0B263B;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin: 0.2em;
}

.subtitle {
    font-size: 3em;
    color: grey;
    text-align: center;
    margin: 0.4em;
}
